body {
          background-color: #b2cfdb;
          font-family: "Lucida Console";
          margin-left: 15px;
          margin-right: 15px;
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #496875;
          border-radius: 15px;
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
          background-color: #F29078;
        }

        .active {
          background-color: #F29078;
        }


        h1 {
          color: #ffffff;
          font-size: 65px;
          text-shadow: 3px 3px 10px #FF0000;
          background-color: #496875;
        }
        h2 {
          color: #ffffff;
          font-size: 45px;
          text-shadow: 2px 2px 8px #FF0000;
        }
        h3 {
          color: #ffffff;
          font-size: 30px;
          text-align: left;
          margin-top: 100px;
        }
        .homeDes {
          float: left;
          margin-right: 15px;
        }
        .homeImg {
          float: right;
          width: 600px;
          height: 350px;
          border-radius: 15px;
          margin-bottom: 100px;
        }
        pageSep {
          margin-bottom: 25px;
          margin-left: auto;
          margin-right: auto;
        }
        .howTo {

        * {
          box-sizing: border-box;
          font-size: 20px;
    
        }
      }

        /* Create three equal columns that floats next to each other */
        .column {
          float: left;
          width: 30%;
          padding: 10px;
          height: 200px; /* Should be removed. Only for demonstration */
          background-color: #F29078;
          border: 1px solid blue; 
          border-radius: 45px;
          justify-content: center;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

.question {
  margin-left: 250px;
  font-family: Palatino;
  display: flex;
  margin-top: 2em;
  margin-left: 250px;
  font-size: 40px;
}
  
.answer-choice  {
  height: 10em;
  color: white;
}

#q1a1 {
    font-size: 20px;
  padding: 32px 16px;
  display: inline-block;
}

#q1a2{
   font-size: 20px;
  padding: 32px 16px;
}

#q1a3{
   font-size: 20px;
  padding: 32px 16px;
}

#q1a4{
   font-size: 20px;
  padding: 32px 16px;
}

#result {
  margin-top: 30px;
}

